*{
    padding:2px;
    margin:2px;
}

body{

    background-color: red;
    font-size: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h1{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}



h2{
    font-size: 20px;
}
p{
    font-size: 20px;
} 