*{
    padding:2px;
    margin:2px;
}

body{

    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
p{
    font-size: 30px;
} 
